smartmirrorTestConsole/smartmirrorTestConsole/Service References/localService/SmartMirrorService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AliciaDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AliciaDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUsuario" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FotoURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>