Alicia Proyecto/Alicia/Connected Services/AliceService/SmartMirrorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartMirrorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartMirror.Models" />
      <xsd:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartMirror.Models.Weather" />
      <xsd:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SmartMirrorBLL.AliciaService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartMirror_getWeatherByWOEID_InputMessage">
    <wsdl:part name="parameters" element="tns:getWeatherByWOEID" />
  </wsdl:message>
  <wsdl:message name="ISmartMirror_getWeatherByWOEID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWeatherByWOEIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartMirror_getTechNews_InputMessage">
    <wsdl:part name="parameters" element="tns:getTechNews" />
  </wsdl:message>
  <wsdl:message name="ISmartMirror_getTechNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTechNewsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartMirror_getUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuario" />
  </wsdl:message>
  <wsdl:message name="ISmartMirror_getUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartMirror">
    <wsdl:operation name="getWeatherByWOEID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartMirror/getWeatherByWOEID" message="tns:ISmartMirror_getWeatherByWOEID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartMirror/getWeatherByWOEIDResponse" message="tns:ISmartMirror_getWeatherByWOEID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTechNews">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartMirror/getTechNews" message="tns:ISmartMirror_getTechNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartMirror/getTechNewsResponse" message="tns:ISmartMirror_getTechNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartMirror/getUsuario" message="tns:ISmartMirror_getUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartMirror/getUsuarioResponse" message="tns:ISmartMirror_getUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartMirror" type="tns:ISmartMirror">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWeatherByWOEID">
      <soap:operation soapAction="http://tempuri.org/ISmartMirror/getWeatherByWOEID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTechNews">
      <soap:operation soapAction="http://tempuri.org/ISmartMirror/getTechNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuario">
      <soap:operation soapAction="http://tempuri.org/ISmartMirror/getUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartMirrorService">
    <wsdl:port name="BasicHttpBinding_ISmartMirror" binding="tns:BasicHttpBinding_ISmartMirror">
      <soap:address location="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>