Alicia Proyecto/Alicia/Connected Services/AliceService/SmartMirrorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="rss">
    <xs:sequence>
      <xs:element minOccurs="0" name="channel" nillable="true" type="tns:rssChannel" />
      <xs:element minOccurs="0" name="version" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rss" nillable="true" type="tns:rss" />
  <xs:complexType name="rssChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfrssChannelItem" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="tns:link" />
      <xs:element minOccurs="0" name="link1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rssChannel" nillable="true" type="tns:rssChannel" />
  <xs:complexType name="ArrayOfrssChannelItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rssChannelItem" nillable="true" type="tns:rssChannelItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrssChannelItem" nillable="true" type="tns:ArrayOfrssChannelItem" />
  <xs:complexType name="rssChannelItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pubDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortdesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnail1" nillable="true" type="tns:thumbnail" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rssChannelItem" nillable="true" type="tns:rssChannelItem" />
  <xs:complexType name="thumbnail">
    <xs:sequence>
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="thumbnail" nillable="true" type="tns:thumbnail" />
  <xs:complexType name="link">
    <xs:sequence>
      <xs:element minOccurs="0" name="href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="link" nillable="true" type="tns:link" />
</xs:schema>