Alicia Proyecto/Alicia/Connected Services/AliceService/SmartMirrorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartMirror.Models" />
  <xs:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://luisduenas-001-site1.ctempurl.com/SmartMirrorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SmartMirrorBLL.AliciaService" />
  <xs:element name="getWeatherByWOEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWeatherByWOEIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartMirror.Models" minOccurs="0" name="getWeatherByWOEIDResult" nillable="true" type="q1:WeatherInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTechNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTechNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getTechNewsResult" nillable="true" type="q2:rss" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartMirrorBLL.AliciaService" minOccurs="0" name="getUsuarioResult" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>